@import '../../node_modules/reset-css/reset.css';
body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  background: #FFF;
}

.page-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 4em;
}

.movie {
  text-decoration: none;
  color: rgba(0, 0, 0, .8);
  position: relative;
}

.movie__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.movie-header {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 6px;
  margin-bottom: 16px;
  height: 265px;
  overflow: hidden;
}

.movie:hover .movie-header {
  box-shadow: 2px 6px 8px 0 hsla(0, 0%, 0%, 0.4);
  margin-top: -4px;
}

.movie-header__img {
  object-fit: cover;
  height: 265px;
  width: 100%;
  position: relative;
}

.movie-header__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.movie-content__rating {
  display: flex;
  align-items: center;
}

.movie-header__rating__star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .7em solid #FC0;
  border-left: .3em solid transparent;
  font-size: 10px;
}

.movie-header__rating__text {
  font-weight: 700;
  margin-left: 4px;
  color: rgba(0, 0, 0, .5);
}

.movie-header__rating__star:before,
.movie-header__rating__star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .7em solid #FC0;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}

.movie-header__rating__star:after {
  transform: rotate(35deg);
}

.movie-content__text {
  line-height: 1.45;
}

.mb-100 {
  margin-bottom: 100px;
}

.section-header {
  margin-bottom: 16px;
}

.section-header__title {
  font-weight: 800;
  font-size: 18px;
}

.movie-detail {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #111a1f;
  z-index: 99;
}

.movie-detail article {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

.movie-detail .movie-detail__content {
  position: relative;
  z-index: 99;
}

.movie-detail .movie-detail__content__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: #fff;
}

.movie-detail .movie-detail__content-info__list {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.movie-detail .movie-detail__content-info__item {
  display: inline-block;
  color: rgba(255, 255, 255, .8);
  position: relative;
}

.movie-detail .movie-detail__content-info__item:not(:last-child) {
  margin-right: 56px;
}

.movie-detail .movie-detail__content-info__item:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: -31px;
  content: '';
  height: 4px;
  width: 4px;
  background: rgba(255, 255, 255, .3);
  border-radius: 50%;
  transform: translateY(-50%);
}

.movie-detail .movie-detail__content-info__item:first-child {
  display: inline-flex;
  align-items: center;
}

.movie-detail .movie-detail__content-excerpt__text {
  line-height: 1.45;
  color: rgba(255, 255, 255, .9);
}

.movie-detail .movie-detail__content-info__rating-star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .8em solid #FC0;
  border-left: .3em solid transparent;
  font-size: 9px;
}

.movie-detail .movie-detail__content-info__rating-text {
  font-weight: 700;
  margin-left: 4px;
  color: rgba(255, 255, 255, .8);
}

.movie-detail .movie-detail__content-info__rating-star:before,
.movie-detail .movie-detail__content-info__rating-star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .7em solid #FC0;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}

.movie-detail .movie-detail__content-info__rating-star:after {
  transform: rotate(35deg);
}

.movie-detail .movie-detail__background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.movie-detail .movie-detail__background::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: radial-gradient(rgba(17, 26, 31, 0) 50%, rgb(17, 26, 31) 80%);
}

.movie-detail .movie-detail__background__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .1;
}

.movie-detail .movie-detail__close {
	color: #fff;
	display: inline-block;
	margin-bottom: 64px;
	text-decoration: none;
	font-size: 32px;
	z-index: 9;
}

.badge {
  padding: 4px 16px;
}

.badge--outline {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 6px;
}
